# Python
venv/
__pycache__/
config/__pycache__/
models/__pycache__/
routes/__pycache__/
utils/__pycache__/
*.pyc

# Flutter
build/
.ios/
.android/
pubspec.lock

# General
.env
.DS_Store
serviceAccountKey.json